<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
	<script src="/static/js/jquery-3.2.1.js"></script>
	<script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/echarts.js"></script>
	{% block link%}{% endblock %}
	{% block script%}{% endblock %}
</head>
<body>
<nav id="top" class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
        {% block top %}{% endblock %}
    </div>
    </div>
</nav>
	<div id="left" class="col-sm-2">{% block left %}{% endblock %}</div>
	<div id="pagearea" class="col-sm-8">{% block pagearea %}{% endblock %}</div>
	<div id="right" class="col-sm-2">{% block right %}{% endblock %}</div>
    
</body>
</html>