<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
	<script src="/static/js/jquery-3.2.1.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	{% block link%}{% endblock %}
	{% block script%}{% endblock %}
</head>
<body>
    <div id="top">{% block top %}{% endblock %}</div>
	<div id="left">{% block left %}{% endblock %}</div>
	<div id="pagearea">{% block pagearea %}{% endblock %}</div>
	<div id="right">{% block right %}{% endblock %}</div>
    
</body>
</html>